.logo_container {
  width: 72px;
  aspect-ratio: 1/1;
  align-self: center;
}
.topbar_container {
  display: grid;
  grid-template-columns: 5rem auto max-content max-content;
  gap: 0.5rem;
  align-items: center;
  padding-inline: 8rem;
  /* max-width: 90%; */

  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(1px);
}
.flex_1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.board_name_section {
  justify-self: start;
}

.options_section {
  position: absolute;
  top: 4rem;
  right: 2rem;
  background-color: var(--pink-100);
  padding: 1rem;
  display: flex;
  gap: 1rem;
  z-index: 2;
  border-radius: var(--border-radius-0);
}
