.card_section {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--white-100);
  color: var(--black-100);
  border-radius: var(--border-radius-0);
}
.card_section:hover .cardTitle {
  color: var(--pink-600);
}
