* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color sceme */
  --white-100: rgb(255, 247, 247);
  --white-300: rgb(223, 223, 223);
  --black-100: rgb(12, 12, 12);
  --black-300: rgb(37, 37, 37);
  --grey-100: grey;
  --green-600: rgb(43, 109, 43);
  --green-100: rgb(140, 216, 140);

  /* border radius */
  --border-radius: 1rem;
  --border-radius-0: 0.5rem;

  /* box shadow */

  /* border radius */
  --border-radius: 1rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
body {
  background-color: var(--white-300);
}
.btn {
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.25s;
  display: block;
  outline: 0;
  background-color: var(--bg-btn, var(--green-600));
  color: var(--text-btn, var(--white-100));
  padding: 0.5rem 1rem;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
  width: fit-content;
}
.btn:hover {
  background-color: var(--text-btn, var(--white-100));
  color: var(--bg-btn, var(--green-600));
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* headers default */
.header_1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.1;
}
.header_2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.1;
}
.header_3 {
  font-size: 14px;
  font-weight: 600;
  opacity: 0.6;
  line-height: 1.1;
  letter-spacing: 2px;
}
/* cursor pointer */
.pointer {
  cursor: pointer;
}

/* reset input */
input,
textarea {
  outline: none;
  border: none;
  width: 100%;
}
input:focus {
  border-bottom: var(--green-600);
}
