.overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.3;
}
.modal_content {
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 50vh;
  left: 50vw;
  padding-block: 2rem;
  transform: translateX(-50%) translateY(-50%);
  background-color: var(--white-300);
  max-width: 80vw;
  min-width: 40vw;
  border-radius: var(--border-radius);
}
